2classmarketprediction.html linguist-vendored
3classmarketprediction.html linguist-vendored
Scrape_Nrel_Solar.py linguist-vendored
scrape census.gov.py linguist-vendored
3classmarketpredictionwithtrain.html linguist-vendored
Model_with_training_data.jpg linguist-vendored
